<div class="container">
    <h2><%=title%></h2>
    <button class="btn btn-info btn-right addadmin" onclick="window.location.href='/admin/all/addarticle'">新的文章</button>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>序号</th>
                <th>分类</th>
                <th>作者</th>
                <th>标题</th>
                <th>点赞数</th>
                <th>评论数</th>
                <th>转发数</th>
                <th>日期</th>
                <th>权限</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(item){ %>                
                <tr>                    
                    <td><%= item.id %></td>
                    <td><%= item.sort %></td>
                    <td><%= item.author %></td>
                    <td><%= item.title %></td>
                    <td><%= item.star1 %></td>
                    <td><%= item.comments %></td>
                    <td><%= item.transmits %></td>
                    <td><%= item.date.format("yyyy-MM-dd hh:mm:ss") %></td>
                    <td>
                        <button class="btn btn-default btn-sm" onclick="window.location.href='/admin/all/updatearticle/?id=<%= item.id %>'">更改</button>


                        <form action="/admin/all/delArticle" id="<%= item.id %>" method="post" style="display: none">
                            <input type="hidden" name="d_article" value="<%= item.id %>">
                        </form>
                        <button onclick="if(confirm('你确定将 <%= item.title %> 彻底删除吗？')){
                                            document.getElementById('<%= item.id %>').submit();
                                            event.preventDefault();
                        }" class="btn btn-danger btn-sm">删除</button>
                    </td>
                </tr>
            <% }) %>

        </tbody>
    </table>
</div>