<div class="container" id="Home">
        <h2><%= title %></h2>
        <div class="col-sm-6 col-md-2 thum">    
            <h6>今日累计注册量</h6>
            <h1><%= data_recruit %></h1>
        </div>
        <div class="col-sm-6 col-md-2 thum">     
            <h6>今日的访问量</h6>    
            <h1><%= data_woman  %></h1>
        </div>
        <div class="col-sm-6 col-md-2 thum">    
            <h6>发帖量</h6>
            <h1><%= data_man %></h1>
        </div>  
        
        <div class="col-sm-6 col-md-2 thum">      
            <h6>累计用户量</h6>
            <h1><%= data_user%></h1>
    </div>
</div>

