<div class="container">
        <button class="btn btn-primary" type="button" onclick="window.location.href='/admin/detail'" style="position:absolute;left:0%"> < </button>
        <h2><%= title %></h2>
        <form role="form" class="search" style="margin-left:650px">
                <div class="input-group" >
                    <input type="text" style="border-radius:10px">
                    <button class="btn btn-info" onclick="window.location.href='/admin/all/SearchUser'">搜索用户</button>
                </div>
        </form>
    
                <table class="table  table-hover table-condensed usertable">
                    <thead>
                        <tr>
                            <th>头像</th>
                            <th>用户名</th>
                            <th>昵称</th>
                            <th>性别</th>
                            <th>年龄</th>
                            <th>手机号</th>
                            <th>地点</th>
                            <th>注册时间</th>
                            <th>权限</th>                       
                        </tr>
                    </thead>
                    <tbody>
                        <% data1.forEach(function(item){ %>
                            <tr>
                                <td><img src="<%= item.img %>" alt="headimg" style="height: 35px;width: 35px"></td>
                                <td><%= item.username %></td>
                                <td><%= item.name %></td>
                                <td><%= item.gender %></td>
                                <td><%= item.age %></td>
                                <td><%= item.phoneNumber %></td>
                                <td><%= item.area %></td>
                                <td><%= item.regtime.toISOString().slice(0,10) %></td>
                                <td>
                                    <form action="/admin/all/delMsg_seeker" id="<%= item.Uid %>" method="post">
                                        <input type="hidden" name="d_msg_s" value="<%= item.Uid %>">
                                    </form>
                                    <button class="btn btn-danger btn-sm"  onclick="if(confirm('你确定将用户<%= item.username %>发布彻底删除吗？')){
                                        document.getElementById('<%= item.Uid %>').submit();
                                        event.preventDefault(); }">删除     
                                    </button>
                                </td>
                            </tr>
                        <% }) %>
                       
                    </tbody>
                </table>        
    
</div>


<!-- <div class="container">
    <h2><%= title %></h2><br>


    <form class="form-horizontal" id="search-form" style="width: 30%;margin: 0 auto" method="POST" action="/admin/all/searchdata">

        
        <div class="radio">
            <label for="">请选择搜索范围：</label>
            <label>
                <input type="radio" name="radio" id="seeker" value="option1" checked>
                求职人员
            </label>
            <label>
                <input type="radio" name="radio" id="recruit" value="option2">
                招聘人员
            </label>
        </div><br>

        <input type="text" class="input-lg form-control" placeholder="请输入职业或用户名" name="txt" id="txt"><br>

        <button class="btn btn-success" type="button" onclick="if(true){document.getElementById('search-form').submit();}">搜索</button>

    </form>
</div> -->